/*
 * Fonts
 */
 @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

 :root {
    font-family: "Nunito", sans-serif;
 }

 body {
    background-color: antiquewhite;
 }

/*
 * Logo styling
 */
  
/*
 * Heading styling
 */  
  
/*
 * Main page title styling
 */
 #header-title {
    color: hsl(194, 49%, 41%);
    transition: color ease-in-out 0.2s;
 }

 #header-title:hover {
    color: rgb(56, 168, 202);
 }
  
/*
 * Section title styling
 */
.section-title {
    font-family: "Questrial", sans-serif;
    color: #670e6a;
    transition: color ease-in-out 0.2s;
}

.section-title:hover {
    color: #a112a5;
}

/*
 * List styling
 */
 
/*
 * Link styling
 */

 
/*
 * Media styling
 */
 
/*
 * Form styling
 */
