/*
 * Fonts
 */
 @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

 :root {
    font-family: "Nunito", sans-serif;
 }

 body {
    background-color: antiquewhite;
 }

 section {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
 }

/*
 * Logo styling
 */
  
/*
 * Heading styling
 */  
h1, h2, h3, h4 {
    margin: 0 0 10px 0;
}

/*
 * Main page title styling
 */
 #header-title {
    color: hsl(194, 49%, 41%);
    transition: color ease-in-out 0.2s;
    text-align: center;
 }

 #header-title:hover {
    color: rgb(56, 168, 202);
 }
  
/*
 * Section title styling
 */
.section-title {
    font-family: "Questrial", sans-serif;
    color: #670e6a;
    transition: color ease-in-out 0.2s;
    text-decoration: underline dotted #670e6a;
}

.section-title:hover {
    color: #a112a5;
}

/*
 * List styling
 */
nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
 }
 
nav > ul > li {
    list-style: none;
 }

nav > ul > li > a:active {
    color: #f93fff;
 }

 #attendance > ul {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
 }
 
/*
 * Link styling
 */

 
/*
 * Media styling
 */
 
/*
 * Form styling
 */

 /* Birthday gift field */
fieldset {
    border-radius: 20px;
    padding: 20px;
}

legend {
    text-align: center;
}

 fieldset fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

#form-gift-1-container {
    order: 3;
}

#form-gift-2-container {
    order: 2;
}

#form-gift-3-container {
    order: 1;
}

#form-gift-4-container {
    order: 0;
}

legend ~ div > input,
legend ~ div > textarea,
legend ~ div > select {
    border-radius: 50px;
    border-width: 2px;
    border-style: dotted;
    border-color: darkred;
}